<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-text slot="end">REGISTRO</ion-text>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="paso == 1">
      <ion-col size="12" sizeMd="6" sizeLg="6" pushLg="3" pushMd="3"  pullLg="3" pullMd="3" >
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>REGISTRA TUS DATOS</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div>
              <ion-item>
                <ion-label position="stacked">Usuario</ion-label>
                <ion-input [(ngModel)]="usuario" maxlength="50" type="text" placeholder="Ingrese un usuario"></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Fecha de nacimiento</ion-label>
              <ion-datetime [(ngModel)]="fechaNacimiento" value="{{fechaNacimiento}}" placeholder="Selecionar"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
<!--             <div>
              <ion-item>
                <p style="color: red;" position="stacked">{{mensajeContrasena}}</p>
              </ion-item>
            </div> -->
            <div>
              <ion-item>
                <ion-label position="stacked">Escribe una contraseña segura</ion-label>
                <ion-input [(ngModel)]="contrasena" (ionChange)="validarContrasena()" minlength="8" maxlength="16" type="password" placeholder="Contraseña"></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-item>
                <ion-label position="stacked">Repite la contraseña</ion-label>
                <ion-input [(ngModel)]="repitecontrasena" (ionChange)="validarContrasena()" minlength="8" maxlength="16" type="password" placeholder="Repite la contraseña"></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="registroDatosUsuario()" expand="full" color="primary">REGISTRARSE</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="volverRegistro()" expand="full" color="primary">CANCELAR</ion-button>
          </ion-col>
        </ion-row>

      
      </ion-col>
    </ion-row>
    <ion-row *ngIf="paso == 2">
      <ion-col size="12" sizeMd="6" sizeLg="6" pushLg="3" pushMd="3"  pullLg="3" pullMd="3" >
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>YA PUEDES UTILIZAR LOS SERVICIOS DE SENSHI</ion-card-subtitle>
                <ion-card-title>REGISTRO EXITOSO</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>

                    <ion-button routerLink="/login" expand="full" color="primary">INICIAR SESIÓN</ion-button>

              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    
  </ion-grid>
  <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/login" color="socondary">
      <ion-img src="../../../assets/sistema/logo.png"></ion-img>
    </ion-fab-button>
  </ion-fab>
</ion-content>
