<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-text slot="end">HORARIO</ion-text>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeMd="4" sizeLg="4" pushLg="4" pushMd="4" >
        <ion-row>
          <ion-col>
            <ion-item>
              <p style="font-size: 14px;font-weight: bold;">Fecha actual: {{fechaActual}}</p>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card  *ngFor="let item of listaHorario;let i = index">
              <ion-card-header>
                <ion-card-subtitle>{{item.nombreDia}}</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>

                <ion-card  *ngFor="let itemMaterias of item.arrayMaterias;let iMateria = index">
                  <ion-card-header>
                    <ion-buttons>
                      <ion-button (click)="presentarMenuEliminarHorario(itemMaterias)">
                        <ion-icon slot="icon-only"  name="close-circle-outline"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                    
                    <ion-card-subtitle>Docente:{{itemMaterias.nombreDocente}}</ion-card-subtitle>
                    <ion-card-subtitle>Materia: {{itemMaterias.nombreMateria}}</ion-card-subtitle>
                  </ion-card-header>
                
                  <ion-card-content>
                    <ion-item>
                      <p>Hora inicio: {{itemMaterias.horaInicio}}</p>
                    </ion-item>
                    <ion-item>
                      <p>Hora fin: {{itemMaterias.horaFin}}</p>
                    </ion-item>
                  </ion-card-content>
                </ion-card>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button routerLink="/ingresarhorario">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="cerrarSesion()" color="socondary">
      <ion-img src="../../../assets/sistema/logo.png"></ion-img>
    </ion-fab-button>
  </ion-fab>
</ion-content>
