<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-text slot="end">DETALLE</ion-text>  
  </ion-toolbar>
</ion-header>
<ion-content>
   <ion-grid>
    <ion-row>
      <ion-col size="12" sizeMd="4" sizeLg="4" pushLg="4" pushMd="4">
        <ion-row>
          <ion-col>
            <ion-list *ngFor="let item of listaTareas">
              <ion-list-header>{{item.nombreTarea}}</ion-list-header>
              <ion-item>
                  <h4 style="font-size: 14px;">Docente: {{item.nombreDocente}}</h4>
              </ion-item>
              <ion-item>
                <p style="font-size: 14px;">Fecha de publicación: {{item.created_at}}</p>
              </ion-item>
              <ion-item>
                <p style="font-size: 14px;">Fecha de entrega: {{item.fechaEntrega}} {{item.horaEntrega}}</p>
              </ion-item>
              <ion-item>
                
                <p style="font-size: 14px;">Detalle: {{item.detalleTarea}}</p>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="cerrarSesion()" color="socondary">
      <ion-img src="../../../assets/sistema/logo.png"></ion-img>
    </ion-fab-button>
  </ion-fab>
</ion-content>
